body {
  background-color: #a2f5bf; /* Set your desired background color here */
}

.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex: 1;
  transition: margin-left 1s;
}

.collapsed {
  margin-left: 50px; /* Set your desired collapsed width */
}

.sidebar {
  width: 300px;
  padding-left: 20px;
  overflow: hidden;
  background-color: #1d6069;
}

.map {
  flex: 1;
  padding: 20px;
}
